.container {
   border-radius: 10px;
   padding: 10px;
   margin: 20px;
   box-sizing: border-box;
   position: relative;

}
.container button {
    width: fit-content;
    background-color: transparent;
    position: absolute;
    top:5%;
    right: 2%;
    
}
